@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: local("yekan"), url(../fonts/yekan-font/Yekan.woff) format("woff"),
    url(../fonts/yekan-font/Yekan.ttf) format("ttf"),
    url(../fonts/yekan-font/Yekan.eot) format("eot");
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'yekan', Arial, Helvetica, sans-serif;
  direction: rtl;
}
