@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "yekan";
  src: local("yekan"), url(../fonts/yekan-font/Yekan.woff) format("woff"),
    url(../fonts/yekan-font/Yekan.ttf) format("ttf"),
    url(../fonts/yekan-font/Yekan.eot) format("eot");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'yekan', Arial, Helvetica, sans-serif;
  direction: rtl;
}
